In [1]:
%matplotlib inline
from fifteen_sixteen_analysis import *

In [2]:
!ls ..

api_data_gov.key  bash_lib  data  LICENSE  nbs	notebooks  py_lib  README.md

In [3]:
# 2015-2016
CONTRIBUTIONS_COMMITTEE_INDIVS = "../data/itpas2.txt"
CANDIDATES = '../data/weball16.txt'
RACE = "G2016"

import os.path
assert os.path.isfile(CONTRIBUTIONS_COMMITTEE_INDIVS)

In [4]:
sixteen_contri_df = read_contribution_tables(CONTRIBUTIONS_COMMITTEE_INDIVS)
candidates = read_candidates_table(CANDIDATES)

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (10,11,12,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [5]:
rich_names = get_id_name_summed(
    contri_df=sixteen_contri_df,
    candid_df=candidates
)
rich_names

,candidate_id,transaction_amount,CAND_ID,CAND_NAME
0,P80001571,315780847,P80001571,"TRUMP, DONALD J. / MICHAEL R. PENCE"
1,P00003392,191403874,P00003392,"CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE"
2,P60008059,86960851,P60008059,"BUSH, JEB"
3,S4PA00121,73349997,S4PA00121,"TOOMEY, PATRICK JOSEPH"
4,S0NH00235,64498736,S0NH00235,"AYOTTE, KELLY A"
5,S6PA00266,59387762,S6PA00266,"MCGINTY, KATHLEEN ALANA"
6,S6NV00218,49563965,S6NV00218,"HECK, JOE"
7,P60006723,48726257,P60006723,"RUBIO, MARCO"
8,S6NV00200,46247571,S6NV00200,"MASTO, CATHERINE CORTEZ"
9,S4NC00089,45242565,S4NC00089,"BURR, RICHARD M"
10,S6NH00091,42739000,S6NH00091,"HASSAN, MARGARET WOOD"
11,S6OH00254,34506742,S6OH00254,"STRICKLAND, TED"
12,S6NC00266,32569597,S6NC00266,"ROSS, DEBORAH K"
13,S6FL00319,30782664,S6FL00319,"MURPHY, PATRICK E"
14,P60006111,29306222,P60006111,"CRUZ, RAFAEL EDWARD ""TED"""
15,S6MO00362,27689281,S6MO00362,"KANDER, JASON"
16,S0MO00183,26530969,S0MO00183,"BLUNT, ROY"
17,S8IN00049,25296133,S8IN00049,"BAYH, EVAN"
18,S6IN00191,24135546,S6IN00191,"YOUNG, TODD CHRISTOPHER"
19,P60008521,23418070,P60008521,"CHRISTIE, CHRISTOPHER J"
20,S0OH00133,20888706,S0OH00133,"PORTMAN, ROB"
21,P60003670,19937426,P60003670,"KASICH, JOHN R"
22,S8WI00026,19273480,S8WI00026,"FEINGOLD, RUSSELL DANA"
23,S0FL00338,15781887,S0FL00338,"RUBIO, MARCO"
24,S0WI00197,13829158,S0WI00197,"JOHNSON, RONALD HAROLD"
25,H6PA08228,10563316,H6PA08228,"SANTARSIERO, STEVEN J"
26,H6VA10209,9745272,H6VA10209,"BENNETT, LUANN"
27,H2MN08111,9464097,H2MN08111,"NOLAN, RICHARD M."
28,H4FL26038,8731032,H4FL26038,"CURBELO, CARLOS MR."
29,H2NV00050,8691210,H2NV00050,"KIHUEN, RUBEN"
...,...,...,...,...
1362,H4NV03084,-2622,H4NV03084,"KOHN, ERIN BILBRAY"
1363,P80003353,-2977,P80003353,"ROMNEY, MITT / PAUL D. RYAN"
1364,H4GA12010,-3000,H4GA12010,"BARROW, JOHN J."
1365,H0NY13074,-3000,H0NY13074,"GRIMM, MICHAEL"
1366,H2AZ08094,-4000,H2AZ08094,"BARBER, RONALD"
1367,H6NY25125,-4000,H6NY25125,"MAFFEI, DANIEL BENJAMIN MR."
1368,S4KY00091,-4500,S4KY00091,"GRIMES, ALISON LUNDERGAN"
1369,H8CA03105,-4900,H8CA03105,"OSE, DOUG"
1370,H8CA36097,-4961,H8CA36097,"HAHN, JANICE"
1371,H4CA03096,-5000,H4CA03096,"LOGUE, DANIEL"
1372,S0AR00028,-5000,S0AR00028,"PRYOR, MARK LUNSFORD"
1373,H2NY01067,-5000,H2NY01067,"BISHOP, TIMOTHY"
1374,H2CA15086,-5000,H2CA15086,"CORBETT, ELLEN"
1375,S4MT00118,-5000,S4MT00118,"WALSH, JOHN E"
1376,H0FL02110,-5500,H0FL02110,"SOUTHERLAND, WILLIAM STEVE II"
1377,S2CA00286,-6000,S2CA00286,"BOXER, BARBARA"
1378,H0MS01043,-6250,H0MS01043,"NUNNELEE, PATRICK ALAN"
1379,H2PA06114,-6500,H2PA06114,"GERLACH, JIM"
1380,H0UT02096,-7000,H0UT02096,"MATHESON, JAMES D"
1381,H0MI10071,-7500,H0MI10071,"CAMP, DAVID LEE"
1382,H4CA21072,-7542,H4CA21072,"RENTERIA, AMANDA"
1383,S4GA11277,-11000,S4GA11277,"NUNN, MARY MICHELLE"
1384,S0IN00053,-12600,S0IN00053,"COATS, DANIEL R"
1385,H0TX04037,-15000,H0TX04037,"HALL, RALPH MOODY"
1386,S6LA00227,-16231,S6LA00227,"LANDRIEU, MARY L"
1387,H4MI14117,-19000,H4MI14117,"HOBBS, RUDY"
1388,H4MA06033,-22500,H4MA06033,"TIERNEY, JOHN F"
1389,S6MD00140,-78800,S6MD00140,"MIKULSKI, BARBARA"
1390,H0VA07042,-97957,H0VA07042,"CANTOR, ERIC"
1391,S6NV00028,-99765,S6NV00028,"REID, HARRY"

In [7]:
filtered_df = filter_group_pivot(election_df=sixteen_contri_df, race=RACE)
filtered_df.reset_index()
filtered_df.head()

contributor_name,"HENSARLING, JEB",HOEVEN FOR SENATE,NANCY PELOSI FOR CONGRESS,00KING FOR CONGRESS,0WHITEHOUSE FOR SENATE,100% DE AGAVE,1199 SERVICE EMPLOYEES INT'L UNION FEDERAL POLITICAL ACTION FUND,"18TH STREET PROJECTS, LLC",2015 SENATORS CLASSIC COMMITTEE,2016 SENATORS CLASSIC COMMITTEE,...,"ZINKE, RYAN","ZINKE, RYAN K",ZIP MAILING SERVICES INC.,"ZIP MAILING SERVICES, INC.",ZIPCAR,"ZOKAITES, JENNIFER","ZONE, CARSON JAMES","ZULETA, IVAN","ZUNIGA, EMILIO","ZUTRAU, GABRIELLA"
candidate_id,,,,,,,,,,,,,,,,,,,,,
H0AL02087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
H0AL05163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
H0AL07086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
H0AR01083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
H0AR03055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# find your candidate
# pull only candidate id and index
cand_id_index = filtered_df.index

# couple dweebs
candidates[candidates['CAND_ID'].isin([cand_id_index[100], cand_id_index[531]])]

# Harry Reid
candidates[candidates['CAND_ID']=='S6NV00028']

,CAND_ID,CAND_NAME,CAND_ICI,PTY_CD,CAND_PTY_AFFILIATION,TTL_RECEIPTS,TRANS_FROM_AUTH,TTL_DISB,TRANS_TO_AUTH,COH_BOP,...,SPEC_ELECTION,PRIM_ELECTION,RUN_ELECTION,GEN_ELECTION,GEN_ELECTION_PRECENT,OTHER_POL_CMTE_CONTRIB,POL_PTY_CONTRIB,CVG_END_DT,INDIV_REFUNDS,CMTE_REFUNDS
2760,S6NV00028,"REID, HARRY",I,1,DEM,258868.0,11295.0,1343367.0,0.0,1457274.0,...,NaN,NaN,NaN,NaN,NaN,145500.0,0.0,12/31/2016,450478.0,310035.0

In [9]:
candidates[candidates['CAND_ID']=='S6NV00028']

,CAND_ID,CAND_NAME,CAND_ICI,PTY_CD,CAND_PTY_AFFILIATION,TTL_RECEIPTS,TRANS_FROM_AUTH,TTL_DISB,TRANS_TO_AUTH,COH_BOP,...,SPEC_ELECTION,PRIM_ELECTION,RUN_ELECTION,GEN_ELECTION,GEN_ELECTION_PRECENT,OTHER_POL_CMTE_CONTRIB,POL_PTY_CONTRIB,CVG_END_DT,INDIV_REFUNDS,CMTE_REFUNDS
2760,S6NV00028,"REID, HARRY",I,1,DEM,258868.0,11295.0,1343367.0,0.0,1457274.0,...,NaN,NaN,NaN,NaN,NaN,145500.0,0.0,12/31/2016,450478.0,310035.0